<div class="language-dropdown dropdown lang_currency-dropdown" data-language-switcher>
	    <label class="dropdown-toggle dropdown-label">
	    	{% comment %}<div class="lange_left">{% endcomment %}
              <div class="wrapper_lang" data-language-label></div>
	    	{% comment %}</div>{% endcomment %}
	    	{% comment %}<div class="lange_right">
			    <span class="text-change border_hover"> {{ 'cart.general.change' | t }} </span>
			    <span class="icon-arrow"><svg class="icon"><use xlink:href="#icon_right" /></span>
			</div>{% endcomment %}
	    </label>
    <div class="dropdown-menu lang-menu" id="lang-switcher">
    </div>
</div>