<div class="page page-product-detail page-product-detail-01">
    {% render 'breadcrumb' %}
    <div class="container">
        <div class="page-content">
            {% section 'product-template-01' %}
        </div>
        {% section 'products_bundle_discount' %}
    </div>
    {% section 'tab-horizontal' %}
    {% section 'product-recommendations' %}
    {% section 'customer-review-product' %}
    {% section 'recently-viewed-products' %}
</div>