<div class="sidebarBlock">
    <h5 class="sidebarBlock-heading"><span > {{block.settings.title}}</span></h5>
    <div class="sidebarBlock-content br-bt">
        <div class="recentPosts_List recentPosts--col1">
            {% for article in blog.articles limit : block.settings.number %}
                <div class="item">
                    <div class="recentPost-sidebar">
                        <p class="date">{{ article.published_at | date: "%B %d, %Y" }}</em>
                        <h5 class="title"><a href="{{ article.url }}" aria-label="link">{{ article.title }}</a></h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>