<div class="page page-wishlist">
  <div class="wrapper-header-cs">
    {% render 'breadcrumb' %}
    <div class="container">
      <h2 class="title">
        {{page.title }}
      </h2>
    </div>
  </div>
  <div class="container">
  	{% render 'wishlist-page' %}
  </div>
</div>