<div class="store-locator-page">
  <div class="wrapper-header-cs">
    {% render 'breadcrumb' %}
    <div class="container">
      <h2 class="title">
        {{page.title }}
      </h2>  
    </div>
  </div>
  <div class="container">
  	{% section 'store-locator-template' %}
  </div>
</div>