<div class="about-us-page">
  <div class="wrapper-header-cs">
    {% render 'breadcrumb' %}
    <div class="container">
      <h2 class="title">
        {{page.title }}
      </h2>
    </div>
  </div>
  <div class="wrapper-section">
  	{% section 'about-us-slideshow' %}
  	{% section 'about-us-content' %}
  	{% section 'customer-review-us' %}
  </div>
</div>